body {
    background-color: #f8f9fa;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }
  
  h1 {
    color: #343a40;
  }
  
  .card {
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  :root {
    --background-color: white;
    --text-color: black;
}

.dark-theme {
    --background-color: #121212;
    --text-color: white;
}